<head>
    <title>B2S - Seller Details</title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1 style="color: #f4f5f6; text-align:center; margin-top: 10px;">Seller Details</h1>
    <div class="products single-product row2">
        <div class="col-3">
            <img src="{{url_for('static', filename='src/seller3.jpg')}}">
        </div>
        <div class="col-3">
            <h2><em>Name</em></h2>
            <br>
            <h4>Shubham G.</h4>
            <br>
            <h2><em>Email Address</em></h2>
            <br>
            <a href="mailto:shubham.gupta2020@vitstudent.ac.in">Email</a>
            <br>
            <h2><em>Contact number</em></h2>
            <br>
            <h4>+91 9999999999</h4>
            <br>
            <h2><em>Address</em></h2>
            <br>
            <h4>Building 2, Area 2, Delhi</h4>
            <br>
        </div>
    </div>
</body>