<head>
    <title>CaRental - Welcome</title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/"><input type="image" src="{{url_for('static', filename='src/carental.jpg')}}" height="100" width="135"/></a></li>
                <li><a href="rent">Book a car</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="login"><button class="register"> Sign in/Sign up</button></a></li>
            </ul>
        </nav>
    </div>
    <h1 style="text-align:center;" class = "header">
        Contact Us
    </h1>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Avaneesh Shetye</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 9820337064
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:avaneesh.shetye2020@vitstudent.ac.in">Email</a>
    </h3>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Harsh Gupta</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 9811146789
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:harsh.gupta2020a@vitstudent.ac.in">Email</a>
    </h3>