<head>
    <title>CaRental - Welcome</title>
    <link rel="icon" href="{{url_for('static', filename='src/icon.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="navbar" id="top">
        <nav>
            <ul id="MenuItems">
                <li><a href="/"><input type="image" src="{{url_for('static', filename='src/carental.jpg')}}" height="100" width="135"/></a></li>
                <li><a href="book">Book a car</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li style="color:#f4f5f6">Logged in</li>
            </ul>
        </nav>
    </div>
    <span style="text-align:center;" class="title1">CaRental</span>
    <span style="text-align:center;" class="title2">We rent, so you don't have to buy</span>
    <div class="container">
        <img src="{{url_for('static', filename='src/realcars.webp')}}" style="width:100%;">
        <div class="center" style="text-align:center;">Book the car that suits you <br> from our wide variety of cars</div>
        <form method="get" action="/book">
            <button class="littlebelow" style="text-align:center;" href="book">Book now</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <section class="reviews" id="reviews">
        <div class="heading">
            <span>Reviews</span>
            <h1>What our customers have to say</h1>
        </div>
        <div class="reviews-container">
            <div class="box">
                <div class="rev-img">
                    <img src="{{url_for('static', filename='src/seller1.png')}}">
                </div>
                <h2>Ben Doverson</h2>
                <div class="stars">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/starhalf.png')}}">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, dolorum.</p>
            </div>

            <div class="box">
                <div class="rev-img">
                    <img src="{{url_for('static', filename='src/seller2.png')}}">
                </div>
                <h2>Mike Coxlong</h2>
                <div class="stars">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star0.png')}}">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur.</p>
            </div>

            <div class="box">
                <div class="rev-img">
                    <img src="{{url_for('static', filename='src/seller3.jpeg')}}">
                </div>
                <h2>Holden Madik</h2>
                <div class="stars">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/star.png')}}">
                    <img src="{{url_for('static', filename='src/starhalf.png')}}">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, placeat?</p>
            </div>
        </div>
    </section>
    <div class="navbar"></div>
    <a href="#top">
        <button class="topp">^</button>
    </a>
</body>